 .valid-input.valid {
    padding: 0 10px;
    width: 300px;
    height: 40px;
    color: #bbb;
    font-family: inherit;
    text-shadow: 1px 1px 1px black;
    background: rgba(0, 0, 0, 0.15);
    border: 0;
    border-radius: 50px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06); 
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 200;
    box-sizing: border-box;
    &:hover, &:active{
        background: rgba(0, 0, 0, 0.2);
    }
  }
  /*sass reactjs/my-app/src/Components/ValidInput/ValidInput.scss reactjs/my-app/src/Components/ValidInput/ValidInput.css*/
 .valid-input.invalid {
    padding: 0 10px;
    width: 300px;
    height: 40px;
    color: #bbb;
    font-family: inherit;
    text-shadow: 1px 1px 1px black;
    background:  rgba(251, 26, 47, 0.15);
    border: 0;
    border-radius: 50px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06); 
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 200;
    box-sizing: border-box;
  }

  @media (max-width: 767px) {
    .valid-input.invalid  {
       width: 200px;
    }
    .valid-input.valid {
        width: 200px;
    }
}
