.contentImg .textStyle {
  position: relative;
  background-size: cover;
  background-image: url(../../Assets/image0.jpg);
  height: 700px;
}

.contentImg .textStyle h1 {
  padding-top: 200px;
  font-size: 60px;
  text-align: center;
  color: white;
  text-shadow: 0.5px 0.5px 3px rgba(0, 0, 0, 0.8);
}

@media (max-width: 767px) {
  .contentImg .textStyle h1 {
    font-size: 40px;
  }
}

.contentImg .textStyle h2 {
  font-weight: 300;
  text-align: center;
  font-size: 22px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

@media (max-width: 767px) {
  .contentImg .textStyle h2 {
    font-size: 18px;
  }
}

.textStyle {
  background-color: rgba(199, 167, 135, 0.637);
  padding: 10px 30px;
}

.textStyle h1 {
  font-size: 35px;
  text-align: center;
}

.textStyle h3 {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.textStyle p {
  font-size: 20px;
  text-align: justify;
}

.textStyle h2 {
  font-weight: 300;
  text-align: center;
  font-size: 20px;
}

@media (max-width: 1400px) {
  .textStyle {
    padding: 5px 15px;
  }
}

@media (max-width: 992px) {
  .textStyle h3 {
    font-size: 28px;
  }
  .textStyle p {
    font-size: 16px;
  }
}

.blockMain {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: ()[4];
      grid-template-rows: repeat(4);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 10px;
}

.contentImg {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  grid-row: 1;
}

.text2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 3;
  grid-row: 3;
}

.text3 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 5;
  grid-row: 5;
}

.image1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
  background-size: cover;
  background-image: url(../../Assets/image1.jpg);
}

.image2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  grid-row: 2;
  background-size: cover;
  background-image: url(../../Assets/image2.jpg);
  height: 300px;
}

.image3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 4;
  grid-row: 4;
  background-size: cover;
  background-image: url(../../Assets/image3.jpg);
  height: 300px;
}

.image4 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 5;
  grid-row: 5;
  background-size: cover;
  background-image: url(../../Assets/image4.jpg);
  height: 400px;
}

@media (max-width: 992px) {
  .blockMain {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: ()[5];
        grid-template-rows: repeat(5);
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    margin: 0;
  }
  .contentImg {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .text2 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .text3 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .image1 {
    display: none;
  }
  .image2 {
    display: none;
  }
  .image3 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .image4 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 5;
    grid-row: 5;
  }
}
/*# sourceMappingURL=Home.module.css.map */